
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
}


<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Appointment</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Appointment</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>


<div class="row"  id="appointment-list-table">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Appointment list table</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="dt-appointment-list" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Full Name</th>
                            <th>Company</th> 
                            <th>Meeting Type</th>  
                            <th>Check In</th> 
                            <th>Check Out</th> 
                            <th>Action</th> 
                        </tr>
                    </thead>

                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>

<div class="row" style="display:none;" id="show-appointment">
    <div class="col-md-12">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">Appointment Detail</h3>
            </div>

            <div class="card-body" id="AppointmentDetail">

            </div>


            <div class="card-footer">
                <button type="button" onclick="CloseAppointmentDetail()" class="btn btn-primary btn-block" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
 

<div class="modal" tabindex="-1" role="dialog" id="showAppointment">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Appointment Details</h5> 
            </div>
            <div class="modal-body" id="AppointmentDetail">
               
 
            </div>
           
        </div>
    </div>
</div>